@{
    ViewData["Title"] = "Index";
}

<h2>Hello, Admin!</h2>

<h3>
    Welcome to iBDZ's administrator home page.
</h3>

<style>
    .MyPanelText {
        margin-left: 25%;
    }
</style>

<div>
    <a href="/Admin/Stats/Statistics">Statistics</a>
</div>

<div>
    <a href="/Admin/Users/Overview">Users overview</a>
</div>

<div>
    <a href="/Admin/Trains/Overview">Trains overview</a>
</div>